.espacio {
   margin-top: 6rem;
}

/* Estilos de los mensajes de error */
.error_message{
   font-size: small;
   color: red;
   margin-bottom: 0.6rem;
}

/* Creando los recuadros con un mínimo de 60% y un máximo de 90% */
.citas {
   margin: 1rem auto;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   max-width: 90%; 
   text-align: center; 
   min-width: 60%;
   background-color: #fff;
}

.citas-planificadas {
   margin: 1rem auto;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   max-width: 90%;
   text-align: center; 
   min-width: 60%;
   background-color: #fff;
}

.citas-eliminar {
   margin: 1rem auto;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   max-width: 90%; 
   text-align: center; 
   min-width: 60%;
   background-color: #fff;
   margin-bottom: 2rem;
}

.form-group {
   margin-bottom: 20px;
}

label {
   display: block;
   margin-bottom: 5px;
}

textarea {
   resize: vertical;
}

button[type="submit"] {
   padding: 10px 20px;
   background-color: #3f6491;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
   background-color: #2d4a6e;
}


.citas-planificadas table {
   width: 100%;
   border-collapse: collapse;
}

.citas-planificadas th,
.citas-planificadas td {
   padding: 10px;
   border: 1px solid #ddd;
   text-align: center;
}

.citas-planificadas th {
   background-color: #f2f2f2;
}

.citas-planificadas td form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.citas-planificadas td form input[type="date"],
.citas-planificadas td form textarea {
   width: 90%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.citas-planificadas td form button[type="submit"] {
   padding: 10px 20px;
   background-color: #3f6491;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.citas-planificadas td form button[type="submit"]:hover {
   background-color: #2d4a6e;
}

.citas-eliminar table {
   width: 100%;
   border-collapse: collapse;
}

.citas-eliminar th,
.citas-eliminar td {
   padding: 10px;
   border: 1px solid #ddd;
   text-align: center;
}

.citas-eliminar th {
   background-color: #f2f2f2;
}

.citas-eliminar td form {
   display: flex;
   justify-content: center;
   align-items: center;
}

.citas-eliminar td form button[type="submit"] {
   padding: 10px 20px;
   background-color: #ad031a;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.citas-eliminar td form button[type="submit"]:hover {
   background-color: #910316;
}

/** FOOTER */
footer {
   background-color: #e3e3e3;
   color: white;
   padding: 20px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   bottom: 0;
   width: 100%;
}

/* Encabezados */
footer h3 {
   color: black;
}

.footer-section {
   text-align: center;
   margin: 10px;
   font-size: 11px;
   color: black;
}

ul.footer-links {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

ul.footer-links li a {
   text-decoration: none;
   transition: color 0.3s ease;
   position: relative;
   color: black;
}

ul.footer-links li a::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 1px;
   background-color: #575757;
   bottom: -3px;
   left: 0;
   transform: scaleX(0);
   transition: transform 0.3s ease;
}

ul.footer-links li a:hover::after {
   transform: scaleX(1);
}

ul.footer-links li:last-child {
   margin-top: auto;
}

.footer-section img {
   margin-bottom: 20px;
   height: 40px;
}

/*Imágenes redes sociales*/
footer .social-icons {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

footer .social-icons a {
   display: flex;
   align-items: center;
}

footer .social-icons img {
   height: 22px;
   width: 22px;
   margin: 10px;
}